#container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: cornflowerblue;
}

h2{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: cornflowerblue;
}

img{
    height: 200px;
    width: 225px;
    object-position: center;
}

h3{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    color: cornflowerblue;
}

#cycle{
    flex-grow: 1;
}

#visual{
    flex-grow: 2;
}

canvas{
    position: fixed;
    width: 100%;
    height: 100%;
}